<div class="row">
  <div class="col-lg-9">
    <div class="wrapper wrapper-content">
      <div class="ibox">
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="m-b-md">
                <a (click)="changeStatus()" class="btn btn-primary btn-xs pull-right"
                   *ngIf="document.status != 'Permanent'">{{ btnText }}</a>
                <form #nVerion="ngForm" *ngIf="document.status == 'Permanent'" (ngSubmit)="newVersion()">
                  <button [disabled]="nVerion.invalid" class="btn btn-sm btn-primary pull-right">New Version</button>
                  <input placeholder="Version" name="version" class="input-sm form-control pull-right"
                         autocomplete="off" style="width: 80px" [(ngModel)]="version" required>
                </form>
                <h2>{{document.name}}</h2>
              </div>
              <dl class="dl-horizontal">
                <dt>Status:</dt>
                <dd><span class="label label-primary">{{ document.status }}</span></dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5">
              <dl class="dl-horizontal">

                <dt>Primary:</dt>
                <dd><span *ngFor="let p of document.primary" class="badge badge-info">{{ p.text }}</span></dd>
                <dt>Secundary:</dt>
                <dd><span *ngFor="let p of document.secundary" class="badge badge-warning">{{ p.text }}</span></dd>
                <dt>Owner:</dt>
                <dd>{{ document.owner.lastName }}, {{ document.owner.firstName }}</dd>
              </dl>
            </div>
            <div class="col-lg-7" id="cluster_info">
              <dl class="dl-horizontal">

                <dt>Last Updated:</dt>
                <dd>{{ document.updated | date:'medium' }}</dd>
                <dt>Created:</dt>
                <dd> {{ document.date | date:'medium' }}</dd>
                <dt>Version:</dt>
                <dd> v{{ document.version }}</dd>
              </dl>
            </div>
          </div>
          <div class="row m-t-sm">
            <tabset>
              <tab heading='Document'>
                <div class="col-lg-12">
                  <div class="ibox">
                    <div class="ibox-content">
                      <form #changeForm="ngForm" (ngSubmit)="updateDocumentContent()" *ngIf="document.status == 'Draft'">
                        <div class="pull-right">
                          <button class="btn btn-primary btn-xs" [disabled]="!changes" type="submit">Commit Changes</button>
                        </div>
                        <div class="form-group">
                          <label>Comments</label>
                          <textarea name="comments" class="form-control" [(ngModel)]="changes" style="width: 100%"
                                    rows="3"></textarea>
                        </div>
                      </form>
                      <div class="m-t-lg">
                        <div *ngIf="document.status == 'Draft'" [froalaEditor] [(froalaModel)]="document.content"></div>
                        <div *ngIf="document.status != 'Draft'" [froalaView]="document.content"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
              <tab heading='Last activity'>
                <app-document-detail-flow [states]="states"></app-document-detail-flow>
              </tab>
              <tab heading='Releases'>
                <app-document-detail-release *ngFor="let release of releases"
                                             [release]="release"></app-document-detail-release>
              </tab>
            </tabset>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="wrapper wrapper-content project-manager">
      <h4>Document description</h4>
      <div class="file">
        <span class="corner"></span>

        <div class="icon">
          <i class="fa fa-file"></i>
        </div>
      </div>
      <p class="small">
        {{document.comments}}
      </p>
      <h5>Document tag</h5>
      <ul class="tag-list" style="padding: 0">
        <li *ngFor="let tag of document.tags"><a><i class="fa fa-tag"></i>{{tag}}</a></li>
      </ul>
    </div>
  </div>
</div>
