.notification-details-content {
  background-color: white;

  .header {
    padding: 30px 20px 20px 50px;
    background-color: white;
    min-height: 105px;

    h1 {
      font-size: 25px;
      font-weight: 400;
    }
    i {
      font-size: 30px;
    }

  }

  .date {
    min-height: 105px;
    background-color: #fbfaf9;
    padding: 20px 20px 30px 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .content {
    background-color: white;
    padding: 30px 20px 20px 50px;

    .button-action {
      margin-bottom: 35px;
    }

    .notification-content {
      p {
        line-height: 30px;
      }
    }
  }
}
