<div class="notification-details-content">
  <div class="header">
    <p class="no-margins">{{notification.type}}</p>

    <div>
      <h1 class="no-margins pull-left">{{notification.title}}</h1>
      <span class="pull-right"><i class="fa fa-star-o"></i></span>
      <div class="clearfix"></div>
    </div>

  </div>

  <div class="date">

    <div class="pull-right">
      <p>10 days ago</p>
      <p>16 jan 2017</p>
    </div>

  </div>

  <div class="content">

    <div class="button-action">
      <div class="pull-right">
        <span class="save">Save</span>
        <span class="publish">Publish</span>
        <span class="icon"><i class="fa fa-angle-down"></i></span>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="notification-content">
      <p>
        It’s hard to say when in our lives each of us become aware of this thing called
        “astronomy”. But it is safe to say that at some point on our lives, each and every
        one of us has that moment when we are suddenly stunned when we come face
        to face with the enormity of the universe that we see in the night sky. For many
        of us who are city dwellers.
      </p>
      <p>
        It’s hard to say when in our lives each of us become aware of this thing called
        “astronomy”. But it is safe to say that at some point on our lives, each and every
        one of us has that moment when we are suddenly stunned when we come face
        to face with the enormity of the universe that we see in the night sky. For many
        of us who are city dwellers.
      </p>
    </div>

  </div>


</div>

