<div class="ibox">
  <div class="ibox-title">
    <h5>All audit assigned to this account</h5>
    <div class="ibox-tools">
      <a routerLink="create" class="btn btn-primary">Create new audit</a>
    </div>
  </div>
  <div class="ibox-content">
    <div class="row m-b-sm m-t-sm">
      <form #searchForm="ngForm" (ngSubmit)="search()">
        <div class="col-md-3">
          <label>Title</label>
          <input type="text" name="title" placeholder="Search" class="form-control" [(ngModel)]="filter.title">
        </div>
        <div class="col-md-2">
          <label>Date</label>
          <input type="date" placeholder="Date" class="form-control" name="date" [(ngModel)]="filter.date">
        </div>
        <div class="col-md-2">
          <label>Status</label>
          <select class="form-control" name="status" [(ngModel)]="filter.status">
            <option value=""></option>
            <option *ngFor="let status of statusLabels; let i = index;" [value]="i">{{status}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Type</label>
          <select class="form-control" name="type" [(ngModel)]="filter.type">
            <option value=""></option>
            <option *ngFor="let type of auditTypes" [value]="type">{{type}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Location</label>
          <select class="form-control" name="location" [(ngModel)]="filter.location">
            <option *ngFor="let ship of locations" [value]="ship">{{ship}}</option>
          </select>
        </div>
        <div class="col-md-1" style="padding-top: 2em;">
          <button type="submit" class="btn btn-white btn-sm">
            Search
          </button>
        </div>
      </form>
    </div>
    <div class="project-list">
      <table class="table table-hover">
        <tbody>
        <tr *ngFor="let audit of audits">
          <td class="project-status">
            <span class="label"
                  [ngClass]="(audit.status == 0 ? 'label-primary' : audit.status == 1 ? 'label-info' : 'label-default')">
              {{statusLabels[audit.status]}}</span>
          </td>
          <td class="project-title">
            <a routerLink="/audit">{{audit.title}}</a>
            <br>
            <small>{{audit.startDate | date }} - {{audit.endDate | date }}</small>
          </td>
          <td class="project-completion">
            <span class="block"><strong>Audit type</strong></span>
            <small>{{audit.type}}</small>
          </td>
          <td class="project-completion">
            <span class="block"><strong>Ship</strong></span>
            <small>{{audit.location}}</small>
          </td>
          <td class="project-people">
            <a *ngFor="let auditer of audit.auditers" tooltip="{{auditer.text}}">
              <img alt="image" class="img-circle" src="{{getAuditor(auditer.id)?.avatar}}">
            </a>
          </td>
          <td class="project-actions">
            <a routerLink="{{audit.id}}" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
            <a (click)="removeAudit(audit.id)" class="btn btn-white btn-sm"><i class="fa fa-trash"></i> Delete </a>
          </td>
        </tr>
        <tr *ngIf="!audits.length">
          <div class="text-center p-xs">
            No records availables
          </div>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
