<div class="row">
  <div class="col-lg-3 no-padding">
    <div class="ibox float-e-margins">
      <div class="ibox-content mailbox-content">
        <div class="file-manager">
          <div dropdown>
            <a class="btn btn-block btn-primary" dropdownToggle>New<span class="caret"></span></a>
            <ul dropdownMenu role="menu" aria-labelledby="btn-append-to-body" style="width: 100%">
              <li role="menuitem"><a class="dropdown-item" [routerLink]="['audit/create']">Audit</a></li>
              <li role="menuitem"><a class="dropdown-item" [routerLink]="['document/create']">Document</a></li>
            </ul>
          </div>
          <div class="space-25"></div>
          <h5>Folders</h5>
          <ul class="folder-list m-b-md" style="padding: 0">
            <li><a [routerLink]="['/']"> <i class="fa fa-inbox "></i> Inbox
              <span class="label label-warning pull-right">{{inbox}}</span>
            </a></li>

            <li>
              <a [routerLink]="['/home']" [queryParams]="{ status: 0}"> <i class="fa fa-file-text-o"></i> Drafts
                <span class="label label-danger pull-right" *ngIf="draft>0">{{draft}}</span>
              </a>
            </li>

            <li>
              <a  [routerLink]="['/home']" [queryParams]="{ status: 1}"> <i class="fa fa-trash-o"></i> Pending Approval
                <span class="label label-danger pull-right" *ngIf="pendingApproval>0">{{pendingApproval}}</span>
              </a>
            </li>

            <li>
              <a [routerLink]="['/home']" [queryParams]="{ status: 2}"> <i class="fa fa-trash-o"></i> Approved
                <span class="label label-danger pull-right" *ngIf="approved>0">{{approved}}</span>
              </a>
            </li>
          </ul>
          <h5>Tasks</h5>
          <ul class="category-list" style="padding: 0">
            <li><a href="#"> <i class="fa fa-circle text-navy"></i>My Task
              <span  class="label label-info pull-right" *ngIf="task>0">{{task}}</span>
            </a></li>

            <li><a href="#"> <i class="fa fa-circle text-danger"></i>My Audits
              <span  class="label label-info pull-right" *ngIf="audits>0">{{audits}}</span>
            </a></li>

            <li>
              <a [routerLink]="['/home']" [queryParams]="{ documents: 'primary-responsibilities'}"> <i class="fa fa-circle text-primary"></i>My Primary Responsibilities
                <span class="label label-info pull-right" *ngIf="primaryResponsibilities>0 ">{{primaryResponsibilities}}</span>
              </a>
            </li>

            <li><a href="#"> <i class="fa fa-circle text-info"></i>Non-Conformances</a></li>
            <li><a href="#"> <i class="fa fa-circle text-warning"></i>Regulations for my Department</a></li>
            <li><a href="#"> <i class="fa fa-circle text-warning"></i>Company policies</a></li>
            <li><a href="#"> <i class="fa fa-circle text-warning"></i>General regulations</a></li>
            <li><a href="#"> <i class="fa fa-circle text-info"></i>Others misc</a></li>
          </ul>

          <h5 class="tag-title">Labels</h5>
          <ul class="tag-list" style="padding: 0">

            <li *ngFor="let key of tagsKeys">
              <a [routerLink]="['/home']" [queryParams]="{ tag: key}">
                <i class="fa fa-tag">{{key}}
                  <span class="badge">{{tags[key]['count']}}</span>
                </i>
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 no-padding">
    <router-outlet></router-outlet>
  </div>
</div>
