<div class="row border-bottom white-bg">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a routerLink="" class="navbar-brand">SafetyMS</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/home"> Home</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/briefcase"> Briefcase</a>
        </li>
      </ul>
      <div dropdown class="pull-right m-r-sm font-bold" style="padding: 5px">
        <a dropdownToggle>
          <img alt="image" class="img-circle" src="{{user?._avatar}}" height="40px">
          <span class="text-muted text-xs">{{user?.firstName}} {{user?.lastName}} <b class="caret"></b></span>
        </a>
        <ul dropdownMenu role="profile-menu" aria-labelledby="profile-menu">
          <li>
            <a (click)="logout()">
              <i class="fa fa-sign-out"></i> Log out
            </a>
          </li>
        </ul>
      </div>
      <ul class="nav navbar-top-links navbar-right">
        <li dropdown>
          <a class="count-info" dropdownToggle>
            <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
          </a>
          <ul dropdownMenu class="dropdown-alerts" role="menu" aria-labelledby="single-button">
            <li>
              <a href="mailbox.html">
                <div>
                  <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                  <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="profile.html">
                <div>
                  <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                  <span class="pull-right text-muted small">12 minutes ago</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="grid_options.html">
                <div>
                  <i class="fa fa-upload fa-fw"></i> Server Rebooted
                  <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <div class="text-center link-block">
                <a href="notifications.html">
                  <strong>See All Alerts</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
