<div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">
  <div class="vertical-timeline-block" *ngFor="let state of states">
    <div class="vertical-timeline-icon navy-bg">
      <i class="fa fa-edit"></i>
    </div>

    <div class="vertical-timeline-content">
      <h2>{{ state.user.lastName }}, {{ state.user.firstName }}</h2>
      <p>{{ state.changes }}</p>
      <a href="#" class="btn btn-sm btn-primary"> More info</a>
      <span class="vertical-date">{{ state.date | date:'EEEE' }}<br>
                                        <small>{{ state.date | date:'MMM d' }}</small>
                                    </span>
    </div>
  </div>
</div>
