<div class="row padding-top border-bottom">
  <div class="col-md-2 project-status text-center">
    <span class="label {{ state.class }}">{{ state.status | uppercase }}</span>
  </div>
  <div class=" col-md-4 project-title">
    <a>Contract with Zender Company</a>
    <br>
    <small>Updated: {{ state.modified | date }}</small>
  </div>
  <div class="col-md-3 project-completion">
    <small>Completion with: {{ state.completion }} %</small>
    <div class="progress progress-mini">
      <div [style.width.%]="state.completion" class="progress-bar"></div>
    </div>
  </div>
  <div class="col-md-3 project-people">
    <a href=""><img alt="image" class="img-circle" src="assets/img/a3.jpg"></a>
    <a href=""><img alt="image" class="img-circle" src="assets/img/a1.jpg"></a>
    <a href=""><img alt="image" class="img-circle" src="assets/img/a2.jpg"></a>
  </div>
</div>
