.notification{
  background-color: white;
  padding: 15px;
  border-bottom: 1px solid darkgray;
  cursor: pointer;
}

.notif-header > .title{
  padding: 5px;
}

.notif-header > .type{
  color: green;
  padding: 5px;
}

.notif-header > .date{
  color: gray;
  padding: 5px;
}

.notif-body{
  margin-top: 10px;
}
