<div class="notification row">
  <div class="col-md-1">
    <input type="checkbox">
  </div>

  <div class="notif-header col-md-11"  (click)="showDetails()">
    <span class="title">{{notification.title}}</span>
    <span class="type">{{notification.type}}</span>
    <span class="date">Jan 15</span>

    <div class="notif-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, asperiores consectetur deserunt ducimus ea itaque
      tempora! Aliquam beatae consequatur ea laborum porro quae reprehenderit unde? Beatae distinctio et labore officia.
    </div>
  </div>

</div>
