.notification {
  background-color: white;
  padding: 15px 15px 15px 0;
  border-bottom: 1px solid darkgray;
  border-left: 3px solid #f4f2f2;

  &.read {
    background-color: white;
  }

  &.unread {
    background-color: #f4f2f2;
  }

  &.selected{
    border-left: 3px solid #5ec7b7;
    background-color: #f9fdfc;
  }

  .notif-body {
    cursor: pointer;

    .title {
      padding: 5px;
    }

    .type {
      padding: 5px;

      &.type-notification{
        color: green;
      }

      &.type-regulation{
        color: red;
      }

      &.type-tenders{
        color: darkorange;
      }
    }

    .date {
      color: gray;
      padding: 5px;
    }

  }

  .notif-body {
    margin-top: 10px;
  }

}
