<li class="list-group-item">
  <div class="icheckbox_square-green checked" style="">
    <input type="checkbox" class="i-checks" style="position: absolute; opacity: 0;">
  </div>
  <a data-toggle="tab" href aria-expanded="true">
    <small class="pull-right text-muted"> 16.02.2015</small>
    <strong class="m-l-xs">{{document.name}}</strong>
    <div class="small m-t-xs m-l-lg">
      <p>
        Survived not only five centuries, but also the leap scrambled it to make.
      </p>
      <p class="m-b-none">
        <i class="fa fa-map-marker"></i> Riviera State 32/106
      </p>
    </div>
  </a>
</li>
