<li class="list-group-item" [class.active]="selected">
  <div class="icheckbox_square-green" [class.checked]="selected" (click)="checkItem()">
    <input type="checkbox" class="i-checks" style="position: absolute; opacity: 0;">
  </div>
  <a data-toggle="tab" href aria-expanded="true">
    <small class="pull-right text-muted"> {{document.date | date}}</small>
    <strong class="m-l-xs">{{document.name}}</strong>
    <div class="small m-t-xs m-l-lg">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda autem distinctio doloribus
        itaque, officia reiciendis. Accusamus aliquid amet aspernatur assumenda, ducimus, eius maiores optio quam rem
        rerum veniam voluptas?
      </p>

      <div>

        <span class="tag label label-danger" *ngFor="let tag of document.tags">{{tag}}</span>
      </div>
    </div>
  </a>
</li>
